@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Geist Mono';
  src: url('/fonts/GeistMonoVF.woff2') format('woff2');
}

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css");

html {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif !important;
}

.upload_date {
  font-feature-settings: "tnum";
}



.nx-text-4xl {
  font-size: 2rem !important;
}

.nx-text-3xl {
  font-size: 1.6rem !important;
}

.nx-text-2xl {
  font-size: 1.3rem !important;
}




/* 세미볼드 */
.nx-font-semibold {
  font-weight: 600 !important;
}

/* 볼드 */
.nx-font-bold {
  font-weight: 700 !important;
}

/* MD 볼드체 */
b, strong {
  font-weight: 600 !important;
}




/* navBar 높이 */
.nx-h-\[var\(--nextra-navbar-height\)\] {
  height: 3.5rem !important;
}

/* 페이지 너비 */
.nx-max-w-\[90rem\] {
  max-width: 90rem !important;
}



.block {
  margin-top: 10px;
  margin-bottom: 10px;
}
.block code {
  display: inline-block;
  width: 80px;
  font-family: 'Geist Mono';
  font-weight: 'regular';
  font-size: 0.9rem;
  margin-right: 10px;
  border-radius: 6px;
  padding: 0.2em 0.3em;
  text-align: center;
}

.block.feature code {
  background-color: #0e845120;
  color: #0E8450;
}
.block.update code {
  background-color: #203AA220;
  color: #203AA2;
}
.block.fix code {
  background-color: #B75F1720;
  color: #B75F17;
}

td.cat {
  width: 95px;
  vertical-align: top;
}



.notice a {
  width: 300px; /* 원하는 너비 설정 */
  white-space: nowrap; /* 텍스트를 한 줄로 유지 */
  overflow: hidden; /* 초과하는 내용 숨기기 */
  text-overflow: ellipsis; /* 텍스트가 오버플로우되면 ...으로 표시 */
}



.text-xs {
  font-size: 0.8rem;
}

.nx-py-12 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}
